

.div__cont{
    width: 300px;
    max-width: 450px;
    height: 150px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    gap: 10px
}
.trash {
    color: white;
    background-color: rgba(202, 34, 34, 0.651);
}
.user__name{
    padding-left: 0.3em;   
}
.buttons{
    display: flex;
    justify-content: flex-end;
    gap: 0.3em;
}