
label, input,button{
    font-size: 1.3rem;
}

.card__container{
    padding-top:  3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 70%;
    gap: 2em;
    margin: 0 auto;
    align-items: center;
}
.title{
    padding: 0.5em 3em;
    padding-top: 5em;
    display: flex;
    justify-content: space-between;

}

.button__new-user{
   background-color: rgb(103, 103, 245);
   color: white;
   filter: grayscale(0.5);
   display: flex;
   align-items: center;
   height: 50px;
   
   }
.button__new-user:hover{
    filter: grayscale(0.2);
}