@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');


*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
h2 {
    margin-top: 0;
    margin-bottom: 0;

}
input,button {
font-family: inherit;
}
input {
    outline: none;
}